.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.vscode/launch.json
climate/climate.db
.tox
.cache/
.idea/

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover

